@model Garage3.Frontend.Models.ViewModels.GarageOverviewModelView

<h1>@Model.GarageName</h1>


<style>
    .detailsButton { /* used for javascript events*/

    }
</style>



<div class="container m-0 p-0">
    <div class="row">
        <div class="col-10">

            <form asp-action="Search">
                <input type="hidden" asp-for="GarageId" />
                <input type="hidden" asp-for="GarageName" />

                <div class="input-group">
                    <input type="text" class="form-control" name="title" placeholder="Search on plateNumber" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-2">
            <button type="button" id="newVehicleTypeButton" class="btn btn-primary" data-id="@Model.GarageId" data-toggle="modal" data-target="#newVehicleTypeModal">New Vehicle Type</button>
        </div>
    </div>
</div>


<table class="table">

    <thead>
        <tr>
            @foreach (var item in Model.TableHead)
            {
                <th>
                    @item
                </th>
            }
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>

                    <button type="button" name="details" class="detailsButton btn btn-primary" data-id="@item.VehicleId" data-toggle="modal" data-target="#DetailsModal">Details</button>
                    <button type="button" id="editButton" class="btn btn-primary" data-id="@item.VehicleId" data-toggle="modal" data-target="#EditModal">Edit</button>
                    <button type="button" id="checkoutButton" class="btn btn-primary ml-5" data-id="@item.VehicleId" data-toggle="modal" data-target="#CheckoutModal">Checkout</button>
                </td>
            </tr>
        }
    </tbody>
</table>






<!-- new Vehicle type modal -->
<div class="modal fade" id="newVehicleTypeModal" tabindex="-1" role="dialog" aria-labelledby="New VehicleType" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Vehicle Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="idTest">hello</div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>




<!-- Details modal -->
<div class="modal fade" id="DetailsModal" tabindex="-1" role="dialog" aria-labelledby="Details" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="detailsDivId">

                    <span>hello world</span>
                </div>






            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="Edit" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="idTest">hello</div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Checkout modal -->
<div class="modal fade" id="CheckoutModal" tabindex="-1" role="dialog" aria-labelledby="Checkout" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Checkout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="idTest">hello</div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>


<script>




    window.addEventListener("load", () => {

        //$('#CheckoutModal').on('show.bs.modal', (event) => {
        //    console.log("test on show");
        //    $.ajax({
        //        type: "GET",
        //        url: "",
        //        //url: "/Garages/TestGet",
        //        data: { id: "12" },
        //        cache: false,
        //        success: function (result) {
        //            console.log("result is: " + result)
        //        }
        //    });
        //});


        document.querySelectorAll(".detailsButton").forEach(element => { // clicking the details button

            element.addEventListener("click", (event) => {
                event.preventDefault();

                let vehicleId = event.target.getAttribute("data-id");

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("OnVehicleDetails", "Garages")",
                    //url: "/Garages/TestGet",
                    data: { id: vehicleId },
                    cache: false,
                    success: function (result)
                    {
                        let element = document.getElementById("detailsDivId");
                        let details = JSON.parse(result);
                        element.innerHTML = "";
                        element.innerHTML += "<span>PlateNumber: " + details.PlateNumber + "<span><br>";
                        element.innerHTML += "<span>Manufacturer: " + details.Manufacturer + "<span><br>";
                        element.innerHTML += "<span>Model: " + details.Model + "<span><br>";
                        element.innerHTML += "<span>NumberOfWheels: " + details.Wheels + "<span><br>";
                        element.innerHTML += "<span>VehicleType: " + details.Type + "<span><br>";
                        element.innerHTML += "<span>Owned by: <a href>" + details.OwnerName + "</a><span><br>";

                        console.log("result is: " + result)
                    }                    
                });
            });
        });






    });





</script>


