@model Garage3.Frontend.Models.ViewModels.GarageOverviewModelView

<h1>@Model.GarageName</h1>





<div class="container m-0 p-0">
    <div class="row">
        <div class="col-10">

            <form asp-action="Search">
                <input type="hidden" asp-for="GarageId" />
                <input type="hidden" asp-for="GarageName" />

                <div class="input-group">
                    <input type="text" class="form-control" name="title" placeholder="Search on plateNumber" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-2">            
            <button type="button" id="newVehicleTypeButton" class="btn btn-primary" data-id="@Model.GarageId" data-toggle="modal" data-target="#newVehicleTypeModal">New Vehicle Type</button>
        </div>
    </div>
</div>


<table class="table">

    <thead>
        <tr>
            @foreach (var item in Model.TableHead)
            {
                <th>
                    @Html.DisplayNameFor(model => model.TableHead)
                </th>
            }
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.Vehicles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlateNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="GarageOverview" asp-route-id="@item.VehicleId" role="button">Details</a>
                    <a class="btn btn-primary" asp-action="GarageOverview" asp-route-id="@item.VehicleId" role="button">Edit</a>
                    <a class="btn btn-primary ml-5" asp-action="GarageOverview" asp-route-id="@item.VehicleId" role="button">Checkout</a>
                </td>
            </tr>
        }
    </tbody>
</table>






<!-- new Vehicle type modal -->
<div class="modal fade" id="newVehicleTypeModal" tabindex="-1" role="dialog" aria-labelledby="New VehicleType" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Vehicle Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="idTest">hello</div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", () =>
    {
        
        document.getElementById("newVehicleTypeButton").addEventListener("click",(event) =>
        {            
            document.getElementById("idTest").innerHTML = "the garage id is " + event.target.getAttribute("data-id");
        });
        
        


    });

</script>
