@model Garage3.Frontend.Models.ViewModels.GarageOverviewModelView

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<script src="/js/checkoutHandler.js"></script>
<script src="/js/VehicleEditHandler.js"></script>
<script src="/js/VehicleDetailsHandler.js"></script>
<script src="/js/NewVehicleTypeHandler.js"></script>
<script>
    window.onload = function (e) {
        new NewVehicleTypeHandler();
        new VehicleDetailsHandler();
        new VehicleEditHandler();
        new CheckoutHandler();
    }
</script>

<h1>@Model.GarageName</h1>







<div class="container m-0 p-0">
    <div class="row">
        <div class="col-10">

            <form asp-action="Search">
                <input type="hidden" asp-for="GarageId" />
                <input type="hidden" asp-for="GarageName" />

                <div class="input-group">
                    <input type="text" class="form-control" name="title" placeholder="Search on plateNumber" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-2">
            <button type="button" id="newVehicleTypeButton" class="btn btn-primary" data-id="@Model.GarageId" data-toggle="modal" data-target="#newVehicleTypeModal">New Vehicle Type</button>
        </div>
    </div>
</div>


<table class="table">

    <thead>
        <tr>
            @foreach (var item in Model.TableHead)
            {
                <th>
                    @item
                </th>
            }
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model.Vehicles)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberShip)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkedTime)
            </td>
            <td>

                <button type="button" class="detailsButton btn btn-primary" data-id="@item.VehicleId" data-toggle="modal" data-target="#DetailsModal">Details</button>
                <button type="button" class="editButton btn btn-primary" data-id="@item.VehicleId" data-toggle="modal" data-target="#EditModal">Edit</button>
                <button type="button" class="checkoutButton btn btn-primary ml-5" data-id="@item.VehicleId" data-toggle="modal" data-target="#CheckoutModal">Checkout</button>
            </td>
        </tr>
        }
    </tbody>
</table>













